.profile__add-buttom {
    display: flex;
    width: 150px;
    height: 50px;
    right: 0;
    align-self: center;
    justify-content: center;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    background-color: black;
    cursor: pointer;
    background: url(../../../images/plus.svg) no-repeat center;
    background-size: 22px 22px;
}

.profile__add-buttom:hover {
    opacity: 0.6;
}

@media screen and (max-width: 660px) {
    .profile__add-buttom {
        width: calc(100% - 38px);
        background-size: 16px 16px;
    }
}