.profile__activity {
    margin: 13px auto 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-overflow: ellipsis;
    max-width: 340px;
    overflow: hidden;
    white-space: nowrap;
}

@media screen and (max-width: 660px) {
    .profile__activity {
        text-align: center;
        font-size: 14px;
        line-height: 17px;
        max-width: 282px;
    }
}