.register__link{
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    cursor: pointer;
}

.register__link:hover{
    opacity: 60%;
}