.header__email{
    margin: 0 24px 0 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color:rgba(255, 255, 255, 1);
    z-index: 1;
}