.register__field-password{
    width: 358px;
    height: 27px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    border-bottom: 1px solid rgba(204, 204, 204, 1);
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    margin: 0 auto;
    background-color: black;
    cursor: text;
}